@import url('https://fonts.googleapis.com/css?family=Roboto');

* { box-sizing: border-box; }

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  background-image: url('./background.jpg');
  background-size: 100% 100%;
  overflow: hidden;
}

#home { display: none; }
#game {
  display: grid;
  grid-template-columns: 47.5%  5% 47.5%;
  grid-template-rows: 7.5vh 92.5vh;
  grid-template-areas:
    "header header header"
    "left . right";
  justify-items: center;
  align-items: center;
}
#lose { display: none; }

.header {
  grid-area: header;
  width: 100%;
  background-color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1)
}

.product.left {
  grid-area: left;
  justify-self: end;
  animation: bounceTo 1s ease-in-out;
}

.product.left button { display: none; }

.product.right {
  grid-area: right;
  justify-self: start;
  animation: bounceIn 1s ease-in-out;
}

.product.aux {
  display: none;
  /* animation: bounceOut .5s;
  animation-fill-mode: forwards; */
}

img {
  margin: auto;
  height: 100%;
  max-height: 450px;
  align-self: end;
}

.product {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80% 10% 10%;
  grid-auto-flow: row;
  align-self: center;
  width: 95%;
  height: 100%;
  padding: 5% 0;
  max-width: 700px;
  max-height: 800px;
  background-color: white;
  border-radius: 2  	5px;
  box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, .2);
  text-align: center;
}

.name {
  text-align: center;
  font-size: 28pt;
  font-weight: bold;
  color: #4B4B4B;
}

.price {
  text-align: center;
  font-size: 24pt;
  font-weight: bold;
  color: #77E3C6;
}

.button {
  width: 150px;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  font-size: 14pt;
  font-weight: bold;
  background-color: #77E3C6;
  color: white;
  box-shadow: 2px 3px 6px 0 rgba(0, 0, 0, .2);
}

.circle .material-icons {
  font-size: 6vw;
}

.circle {
  display: grid;
  z-index: 3;
  width: 13vw;
  height: 13vw;
  padding-top: 1vw;
  max-width: 250px;
  max-height: 250px;
  box-shadow: 0 3px 30px 0 rgba(0, 0, 0, .2);
  text-align: center;
  align-items: center;
  font-size: 6vw;
  font-weight: bold;
  background-color: white;
  border-radius: 50%;
}

.circle.fa {
  font-size: 6vw;
}

.versus { color: #77E3C6; }
.fa-check { color: rgba(0, 255, 0, .6); }
.fa-times { color: rgba(255, 0, 0, .6); }

.animate {
  animation: bounceOut 1s;
}

@keyframes bounceOut {
  0% { left: 0; }
  100% { left: -50vw; }
}

@keyframes bounceTo {
  0% { left: 50vw; }
  100% { left: 0; }
}

@keyframes bounceIn {
  0% { left: 50vw; }
  100% { left: 0px; }
}